<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distances</title>
    <link rel="stylesheet" href="/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/style.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="Startseite">Startseite</a>
            <a class="nav-item nav-link" href="fahrtdef">Fahrt Tätigen</a>
            <a class="nav-item nav-link active" href="GetaetigteFahrten">Getaetigte Fahrten<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="Arzt">Arzt Menü</a>
            <a class="nav-item nav-link" href="#" id="logout">Logout</a>
        </div>
    </div>
</nav>
<h4 class="display-4 text-center">Getätigte Fahrten</h4>
<br>

<div id="tab" class="table"></div>



<br>

<footer class="footer" id="sticky-footer">
    <div class="container text-center">
        <span class="text-muted">
            Autor: Busemann, Sterthaus <br>
            Organisation: WWU <br>
            Aufgabe: Projekt
        </span>
    </div>
</footer>





<script src="/leaflet/leaflet.js"></script>
<script src="/jquery/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script src="../javascripts/getaetigteFahrten.js"></script>
<script type="text/javascript" src="../javascripts/LogInAndOut.js"></script>
</body>
</html>
