<!DOCTYPE html>
<!-- Required meta tags-->
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <title>Corona-Registrierung!</title>
</head>
<!-- Bootstrap CSS-->
<!-- Navbar-->
<!-- Keine Navbar im Register-->
<!-- Navbar ende-->

<body class="bg-white">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="Startseite">Startseite</a>
            <a class="nav-item nav-link" href="fahrtdef">Fahrt tätigen</a>
            <a class="nav-item nav-link " href="GetaetigteFahrten">Getaetigte Fahrten<span
                        class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="Arzt">Arzt Menü</a>
        </div>
    </div>
</nav>


<h1 class="display-4">Corona-Registrierung</h1><br>
<form action="/register" method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp">
        <small class="form-text text-muted">Email</small>
    </div>
    <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" class="form-control" id="password" name="Password" aria-describedby="emailHelp">
        <small class="form-text text-muted">Passwort</small>
    </div>
    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" class="form-control" id="Username" name="Username" aria-describedby="emailHelp">
        <small class="form-text text-muted">Username</small>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Rolle" type="checkbox" value="Arzt" id="checkbox">
        <label class="form-check-label" for="checkbox">
            Bist du Arzt?
        </label>
    </div>
    <div class="form-row">
    <button class="btn btn-primary" type="submit">Registrieren</button>
</form>

<form action="/Login">
    <input type="submit" class="btn btn-primary" value="Login" />
</form>
</div>
<script src="/jquery/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="../javascripts/LogInAndOut.js"></script>
<footer class="footer" id="sticky-footer">
    <div class="container text-center">
        <span class="text-muted">
            Autor: Busemann, Sterthaus <br>
            Organisation: WWU <br>
            Aufgabe: Projekt
        </span>
    </div>
</footer>
</body>
